// Variabler
$font-stack: Helvetica;
$primary-color: white;
// Body 
body {
    font-family: $font-stack;
    background-color: $primary-color;
}

// Överskrift 
h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 4%;
}

// Huvudmeny 
nav {
    width: 100%;
    margin: auto;
    text-align: center;
    a {
        color: black;
    }
}

// Mobilmeny 
// Partials
// Nesting 
// Mixins 
// Selector inheritance (nyckelordet "@extend").
// If-else satser
// Color functions (darken, lighten minimun, men använda gärna även fler)