body {
    background-color: rgb(110, 56, 20);
}


/* Testar att skriva en kommentar */

h1 {
    font-size: 3em;
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}